body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000; /* Fundo preto */
    color: #ffffff; /* Texto branco */
}

.card-container {
    background-color: #000000; /* Cor de fundo do contêiner */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.2); /* Sombra branca para dar efeito 3D */
    padding-bottom: 5%; /* Aumentado o espaçamento interno */
    padding-top: 8%;
    width: 550px; /* Aumentando a largura do contêiner para 10% a mais */
    min-height: 330px; /* Aumentando a altura mínima do contêiner para 10% a mais */
    text-align: center; /* Centralizar o texto */
    padding-left: 15%;
    padding-right: 15%;
}

.container-texto p {
    margin: 5vh 0; /* Espaçamento do texto em relação à barra de pesquisa (10% da altura da viewport) */
}

.area-pesquisa {
    display: flex; /* Alinhamento horizontal dos elementos dentro deste contêiner */
    justify-content: center; /* Centraliza os itens dentro do contêiner */
}

.p {
    width: 80%;
}

.entrada-pesquisa {
    width: 70%; /* Ajuste para ocupar 70% da largura do contêiner */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff; /* Borda branca para a barra de pesquisa */
    border-radius: 4px;
    background-color: #333333; /* Fundo da barra de pesquisa */
    color: #ffffff; /* Texto da barra de pesquisa */
}

.botao-pesquisa {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #6200ea; /* Cor do botão */
    color: white;
    cursor: pointer;
    margin-left: 10px; /* Espaçamento entre a barra de pesquisa e o botão */
}

.botao-pesquisa:hover {
    background-color: #3700b3; /* Cor do botão ao passar o mouse */
}
